.archivos
{
border: solid 2px #e9e9e9;
padding: 2%;
background-color: #84848433;
margin-bottom: ;
color: #737374;
font-weight: bold;

}

small.anulada
{
	color: #f00;
}

small.efectuada
{
	color: #0f0;
}